{% extends "view_container.html" %}
{% block details %}
<h1 style="text-align:center;">Change Your Password</h1>
<div style="text-align:center; color:red">
{% if messages %}
    {% for message in messages %}
        {{ message}}
    {% endfor %}
{% endif %}
</div>
<form class="form-horizontal" method="post" action="{% url 'change_password' %}">
    {% csrf_token %}
    <div class="field">
        <label style="color: white">Current Password</label>
        <input type="password" name="old_password" value="" size="30"/>
    </div>
    <div class="field">
        <label style="color: white">New Password</label>
        <input type="password" name="new_password" value="" size="30"/>
    </div>
    <div class="field">
        <label style="color: white">Confirm New Password</label>
        <input type="password" name="new_password_again" value="" size="30"/>
    </div>
     <div class="group">
         <button type="submit" class="btn btn-success black" style="color: #e0f2f1">Submit</button>
     </div><br>
</form>

{% endblock details %}